// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$padding: 15px;

.main-container{
  background-color: #dceaf4;
  padding: $padding;
}

.sidebar{
  background-color: #bbd8e9;
  padding: $padding;
}

.btn-legend-right{
  float: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(up_arrow.gif);
}

.pretty th .desc {
  background-image: url(down_arrow.gif);
}

a.sidebar-tag{
  color: white;
}

a.sidebar-tag:hover{
  color: white;
}